
#div {
    width: 100%;
    display: flex;
    padding-left: 45px;
    padding-top: 15px;
    text-align: center;
}
.d1{
    box-shadow: 5px 5px 5px rgb(13, 110, 113);
}
#img{
    padding: 20px;
}

}